# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# SQLite database
instance/recipes.db

# Logs
app/logs/
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python egg info
*.egg-info/
dist/
build/